.rtc-popover {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: white;
	z-index: 1000000;
	opacity: 0;
	font-size: 14px;
	border: 1px solid #EFEFEF;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	transition: opacity .5s, left .2s, width .5s;
}

.rtc-popover__displayed {
	opacity: 1;
}

.rtc--top-comment-header--score {
	font-weight: 700;
}
.rtc--top-comment-header--created {
	color: gray;
}